<% provide :title, @user.name %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="gravatar">
        <%= gravatar_for @user %>
      </div>
      <div class="user-name-div">
        <span class="user-name"><%= @user.name %></span>
      </div>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' %>
  </aside>
  <aside class="col-md-8">
    <% if @activities.any? %>
      <ol class="list-activities">
        <%= render @activities %>
        <%= will_paginate @activities %>
      </ol>
    <% end %>
  </aside>
</div>
