<% provide(:title, @book.title) %>

<div class="row">
  <div class="col-md-8">
    <h1><%= @book.title %></h1>
    <h2><%= @book.author %></h2>
    <% book_url = @book.document.url %>
    <iframe src="https://docs.google.com/viewer?url=<%= domain %><%= book_url %>&embedded=true" width="100%" height="800" >
      <p>Your browser does not support iframes.</p>
    </iframe>  
    <h3><%= @book.number_of_page %></h3>
    <h3><%= @book.publish_date %></h3>
  </div>
  <div class = "col-md-4">
    <%= label_tag @status %>
    <% if @status == "read" %>
      <%= render partial: 'read_statuses/mark_as_read', locals: {message: "reading"} %>
    <% elsif @status == "reading" %>
      <%= render partial: 'read_statuses/mark_as_read', locals: {message: "read"} %>
    <% else %>
      <%= render partial: 'read_statuses/mark_as_read', locals: {message: "reading"} %>
      <%= render partial: 'read_statuses/mark_as_read', locals: {message: "read"} %>
    <% end %>
    <div class="newest">
      <h2> Newest </h2>
      <% for book in @books do %>
        <li><%= link_to book.title, book_path %></li>
      <% end %>
      <div id="favorite-div">
        <%= render 'favorite', book: @book %>
      </div>      
    </div>
  </div>  
</div>
